/* * {
    border: 1px solid red;
} */

#box-1,
#box-2,
#box-3,
#box-4 {
  position: relative;
}

#box-1::before,
#box-2::before,
#box-3::before,
#box-4::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(175, 175, 175, 0.6);
  opacity: 0;
  transition: opacity 0.3s ease;
  
}

#box-1:hover::before,
#box-2:hover::before,
#box-3:hover::before,
#box-4:hover::before {
  opacity: 1;
}

#box-1 .box-1-hover-txt,
#box-2 .box-2-hover-txt,
#box-3 .box-3-hover-txt,
#box-4 .box-4-hover-txt {
  position: relative; 
  z-index: 1;
  display: none;
  
}

#box-1:hover .box-1-hover-txt,
#box-2:hover .box-2-hover-txt,
#box-3:hover .box-3-hover-txt,
#box-4:hover .box-4-hover-txt {
  display: block;
  
}

.work-page {
  display: flex;
  justify-content: space-between;
}

.work-main {
  padding-top: 25px;
}

.column {
  width: 49.5%;
}

.work-h1 {
  text-align: center;
  font-family: "Cantata One", serif;
  color: antiquewhite;
}

/* .event-col {
  margin: 2%;
} */

#box-1 {
  background-image: url(../../assets/Images/Jawnysingle-Adios-1392x884.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  position: relative;
  margin-bottom: 2%;
}

.box-1-hover-txt {
  text-align: left;
  font-size: xx-large;
  font-family: "Knewave", cursive;
  padding: 10px 0 0 10px;
  color: antiquewhite;
}

.box-1-hover {
  position: absolute;
  color: rgb(241, 241, 241);
  background-color: rgb(240, 248, 255, 0.6);
  /* z-index: 1000; */
  font-size: x-large;
  font-family: "Russo One";
  border-left: solid;
  transition: 1s;
}

#box-2 {
  background-image: url(../../assets/Images/d31f368296b608b1998431b802b46b93.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  margin-bottom: 2%;
}

.box-2-hover-txt {
  text-align: left;
  font-size: xx-large;
  font-family: "Knewave", cursive;
  padding: 10px 0 0 10px;
  color: antiquewhite;
}

#box-3 {
  background-image: url(../../assets/Images/Screenshot\ 2023-07-27\ at\ 5.58.46\ PM.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  
}

.box-3-hover-txt {
  text-align: left;
  font-size: xx-large;
  font-family: "Knewave", cursive;
  padding: 10px 0 0 10px;
  color: antiquewhite;
}

#box-4 {
  background-image: url(../../assets/Images/Freddie-Gibbs-Full-Width-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}

.box-4-hover-txt {
  text-align: left;
  font-size: xx-large;
  font-family: "Knewave", cursive;
  padding: 10px 0 0 10px;
  color: antiquewhite;
}
